<div class="container-fluid">
  <div class="row row-eq-height">
    <div class="col-lg-2" ng-controller="CompetencyKeyController as vmCompetencyKey">
      <div ng-include="'/components/competency/competencyKey.html'"></div>
    </div>
    <div class="col-lg-10" ng-controller="MatrixDetailController as vmMatrixDetail">
      <div class="panel panel-primary horizontal-spacer">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Employee Competency</h3>
        </div>
        <div class="scrollable-table">
          <form name="matrixDetailForm" novalidate>
          <table class="table table-hover table-striped table-responsive table-header-rotated">
            <thead>
              <tr>
                <!-- First column header is not rotated -->
                <th>Employee</th>
                <!-- Following headers are rotated -->
                <th ng-repeat="skill in vmMatrixDetail.employee.targetskillset.skills" class="rotate-45">
                  <div>
                    <span>{{skill.name}}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="row-header">
                  {{vmMatrixDetail.employee.name}}
                </th>
                <td ng-repeat="competency in vmMatrixDetail.employee.competencies">
                  <span class="col-lg-1" 
                        ng-show="!competency.$editing" 
                        ng-click="vmMatrixDetail.resetEdit(vmMatrixDetail.employee); competency.$editing = true; vmMatrixDetail.employee.$editing = true;"
                        ng-style="{'background-color':vmMatrixDetail.calculateCompetency(competency.score)}" 
                        ng-cloack>
                          {{competency.score}}
                  </span>
                    <ng-form name="matrixDetailForm">
                    <input  type="text"
                            class="form-control"
                            name="competencyScore"
                            ng-show="competency.$editing" 
                            ng-model="competency.score" 
                            ng-blur="vmMatrixDetail.calculateRadarChart(
                            vmMatrixDetail.employee.targetskillset.skills,vmMatrixDetail.employee.competencies, 
                            vmMatrixDetail);"
                            ng-cloack 
                            required
                            numbers-only="numbers-only"
                            />
                    <div ng-messages="matrixDetailForm.competencyScore.$error">
                      <div ng-message="required">Score required</div>
                    </div>
                   </ng-form>
                </td>
                <td ng-show="vmMatrixDetail.employee.$editing">
                  <a href="" class="btn btn-primary btn-xs">Save</a>
                </td>
            </tr>
          </tbody>
      </table>
      </form>
    </div>
  </div>
  <!-- Need to move this to its own controller and service and partial-->
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary horizontal-spacer">
        <div class="panel-heading">Competency Progress</div>
        <div class="panel-body">
          <canvas id="radar" class="chart chart-radar ng-isolate-scope" data="vmMatrixDetail.data" labels="vmMatrixDetail.labels"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
</div>  
</div>