<div class="panel panel-primary horizontal-spacer">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">Employee Competencies</h3>
    <div class="pull-right">
      <button class="btn btn-default btn-xs btn-filter" ng-click="vm.filterable=!vm.filterable; vm.queryName = null;"><span class="glyphicon glyphicon-filter"></span> Filter</button>
    </div>
  </div>
  <div class="scrollable-table">
    <table class="table table-striped table-condensed  table-responsive table-header-rotated vertical-spacer">
      <thead>
        <tr class="filters" ng-show="vm.filterable">
          <th>
            <input type="text" class="form-control" placeholder="Employee Name" ng-model="vm.queryName">
          </th>
        </tr>
        <tr>
          <!-- First column header is not rotated -->
          <th>Employee</th>
          <!-- Following headers are rotated -->
          <th ng-repeat="skill in vm.skillset.skills" class="rotate-45">
            <div>
              <span>{{skill.name}}</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in vm.skillset.employees | filter:vm.queryName | orderBy:orderProp">
          <th class="row-header">{{employee.name}}</th>
          <td ng-repeat="competency in employee.competencies">
            <span class="col-xs-1" ng-show="!competency.$editing" ng-click="vm.resetEdit(vm.skillset.employees); competency.$editing = true; $parent.employee.$editing = true" ng-cloack>{{competency.score}}</span>
            <input class="form-control" ng-show="competency.$editing" ng-model="competency.score" ng-cloack />
          </td>
          <td ng-show="employee.$editing">
            <a href="" class="btn btn-primary btn-xs">Save</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-lg-6 col-sm-12">
<div class="panel panel-default">
  <div class="panel-heading">Radar Chart</div>
    <div class="panel-body">
      <canvas id="radar" class="chart chart-radar" data="vm.data" labels="vm.labels"></canvas>
    </div>
</div>
</div>




<!-- <accordion close-others="oneAtATime">
  <accordion-group heading="Static Header, initially expanded" is-open="vm.status.isFirstOpen" is-disabled="vm.status.isFirstDisabled">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="{{group.title}}" ng-repeat="group in vm.groups">
    {{group.content}}
  </accordion-group>
  <accordion-group heading="Dynamic Body Content">
    <p>The body of the accordion group grows to fit the contents</p>
      <button class="btn btn-default btn-sm" ng-click="vm.addItem()">Add Item</button>
      <div ng-repeat="item in vm.items">{{item}}</div>
  </accordion-group>
  <accordion-group is-open="vm.status.open">
      <accordion-heading>
          I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !vm.status.open}"></i>
      </accordion-heading>
      This is just some content to illustrate fancy headings.
  </accordion-group>
</accordion> -->