<div>
  Search Employees: <input ng-model="query">
</div>

<div class="scrollable-table">
  <table class="table table-striped table-responsive table-header-rotated">
    <thead>
      <tr>
        <!-- First column header is not rotated -->
        <th>Employee</th>
        <!-- Following headers are rotated -->
        <th ng-repeat="skill in vm.skillset.skills" class="rotate-45">
          <div>
            <span>{{skill.name}}</span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in vm.skillset.employees | filter:query">
        <th class="row-header">{{employee.name}}</th>
        <td ng-repeat="competency in employee.competencies">
          <span class="col-xs-1" ng-if="!competency.$edit" ng-click="competency.$edit = true">{{competency.score}}</span>
          <div class="col-xs-1" ng-if="competency.$edit">
            <input class="form-control" type="number" ng-model="competency.score" />
          </div>
        </td>
        <td>
          <a ng-if="competency.$edit" href="" class="btn btn-primary btn-xs" ng-click="competency.$edit = false">Save</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <accordion close-others="oneAtATime">
  <accordion-group heading="Static Header, initially expanded" is-open="vm.status.isFirstOpen" is-disabled="vm.status.isFirstDisabled">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="{{group.title}}" ng-repeat="group in vm.groups">
    {{group.content}}
  </accordion-group>
  <accordion-group heading="Dynamic Body Content">
    <p>The body of the accordion group grows to fit the contents</p>
      <button class="btn btn-default btn-sm" ng-click="vm.addItem()">Add Item</button>
      <div ng-repeat="item in vm.items">{{item}}</div>
  </accordion-group>
  <accordion-group is-open="vm.status.open">
      <accordion-heading>
          I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !vm.status.open}"></i>
      </accordion-heading>
      This is just some content to illustrate fancy headings.
  </accordion-group>
</accordion> -->