<div>
    <table ng-table="vm.tableParams" class="table table-responsive table-striped">
        <tr>
          <th>
              <div style="-webkit-transform: rotate(270deg)">Name</div>
          </th>
        </tr>
        <tr ng-repeat="user in $data">
            <td width="80" id="container_2"7
                <span>{{user.name}}</span>
            </td>
            <td data-title="">
                <span ng-if="!user.$edit" ng-click="user.$edit = true">{{user.age}}</span>
                <div class="col-xs-1" ng-if="user.$edit"><input class="form-control" type="number" ng-model="user.age" /></div>
            </td>
            <td data-title="" width="200">
                <!-- <a ng-if="!user.$edit" href="" class="btn btn-default btn-xs" ng-click="user.$edit = true">Edit</a> -->
                <a ng-if="user.$edit" href="" class="btn btn-primary btn-xs" ng-click="user.$edit = false">Save</a>
            </td>
        </tr>
    </table>

</div>

<!-- <accordion close-others="oneAtATime">
  <accordion-group heading="Static Header, initially expanded" is-open="vm.status.isFirstOpen" is-disabled="vm.status.isFirstDisabled">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="{{group.title}}" ng-repeat="group in vm.groups">
    {{group.content}}
  </accordion-group>
  <accordion-group heading="Dynamic Body Content">
    <p>The body of the accordion group grows to fit the contents</p>
      <button class="btn btn-default btn-sm" ng-click="vm.addItem()">Add Item</button>
      <div ng-repeat="item in vm.items">{{item}}</div>
  </accordion-group>
  <accordion-group is-open="vm.status.open">
      <accordion-heading>
          I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !vm.status.open}"></i>
      </accordion-heading>
      This is just some content to illustrate fancy headings.
  </accordion-group>
</accordion> -->